* {
    box-sizing: border-box;
    // font-family: 'Avenir Next', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // font-weight: bold;
}

$blue: rgb(50, 108, 184);
$yellow-main: rgb(207, 231, 25);
$yellow-second: rgb(139, 173, 65);
html {
    background: $blue;
    padding: 20px;
    font-family: sans-serif
}

h1 {
    color: $yellow-main;
    text-align: center;
    border: 2px solid $yellow-main;
    width: auto;
    padding: 5px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}

.album {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    color: white;
    font-weight: 100;

    img {
        width: 100%;
    }
}
