* {
    box-sizing: border-box;
    font-family: 'Avenir Next', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

$blue: rgb(50, 108, 184);
$yellow-main: rgb(207, 231, 25);
$yellow-second: rgb(139, 173, 65);
html {
    background: $blue;
    padding: 20px;
}

h1 {
    color: $yellow-main;
    text-align: center;
    border: 2px solid $yellow-main;
    width: auto;
    padding: 5px;
}

.item {
    background: $yellow-main;
}

.container {
    border: 5px solid $yellow-second;
    display: grid;
    grid-gap: 20px;
    height: 400px;
    grid-template-columns: repeat(5, 100px);
    // grid-template-rows: repeat(5, 30px);
    // justify-items: center;
    // align-items: center;
    // place-items: center flex-start;
    justify-content: space-between;
    align-content: center;
}

